@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');
h1, h2, h3, h4, h5, h6, p, li, table{
    font-family: 'Gayathri', sans-serif !important;
}


html{
    font-size: 75% !important;
}

/* .content img::before{
    content: "\a";
    white-space: nowrap;
} */

.content img{
    margin: 20px auto;
}

code {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace, Gayathri !important;
    font-size: 0.875em; /* please adjust the ace font size accordingly in editor.js */
}

.responsive{
    overflow-x: auto !important;
}